{% extends 'base.html' %}

{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
<div class="container">
<nav class="row">

		<div class="col-md-3">
			<div class="card card-category">
			  <div class="img-wrap" style="background: #ffd7d7">

			  	<img src="rasm.jpg">

			  </div>
			  <div class="card-body">
			    <h4 class="card-title"><a href="/ichki/3/">Yozgi kiyimlar</a></h4>
			    <ul class="list-menu">

			    	<li><a href="/mahsulot/5/">Futbolka</a></li>

			    </ul>
			  </div>
			</div>
		</div> <!-- col.// -->

	</nav> <!-- row.// -->
</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->



<!-- ========================= SECTION SUBSCRIBE  ========================= -->
<section class="padding-y-lg bg-light border-top">
<div class="container">

<p class="pb-2 text-center">Delivering the latest product trends and industry news straight to your inbox</p>

<div class="row justify-content-md-center">
	<div class="col-lg-4 col-sm-6">
<form class="form-row">
		<div class="col-8">
		<input class="form-control" placeholder="Your Email" type="email">
		</div> <!-- col.// -->
		<div class="col-4">
		<button type="submit" class="btn btn-block btn-warning"> <i class="fa fa-envelope"></i> Subscribe </button>
		</div> <!-- col.// -->
</form>
<small class="form-text">We’ll never share your email address with a third-party. </small>
	</div> <!-- col-md-6.// -->
</div>
	

</div>
</section>
<!-- ========================= SECTION SUBSCRIBE END// ========================= -->
{% endblock %}